<error-alert *ngIf="error$ | async as error" [error]="error"></error-alert>
<loading-spinner *ngIf="loading$ | async as loading"></loading-spinner>

<ul class="list-group" *ngIf="bookItems$ | async as bookItems">
  <li class="list-group-item"
      *ngFor="let book of bookItems"
  >
    <div class="row">
      <div class="col-11" (click)="clickBook(book)" type="button">
        <b>
          {{ book.name }}
        </b>
      </div>

      <div class="col-1 text-center" (click)="deleteBook(book.id)" type="button">
        <i class="fa fa-trash"></i>
      </div>

    </div>
    <book-detail *ngIf="book.id === (selectedBook$ | async)?.id" [book] = book></book-detail>

  </li>

</ul>
