<div class="row min-vh-100 pt-3 pb-3">
  <div class="col-12 col-md-4">

    <div class="card bg-light">
      <div class="card-header bg-dark">
        <h3 class="text-center text-white">Add Book Form</h3>
      </div>

      <div class="cart-body position-relative min-cart-body p-3">
        <book-form></book-form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8">

    <div class="card bg-light">
      <div class="card-header bg-dark">
        <h3 class="text-center text-white">Book List</h3>
      </div>

      <div class="cart-body position-relative min-cart-body p-3">
        <book-list [bookItems$]="bookItems$"></book-list>
      </div>
    </div>

  </div>
</div>
