<div class="form-group">
  <label class="mt-2">Book Name: </label>
  <input class="form-control" [(ngModel)]="newBook.name">

  <label class="mt-2">Price: </label>
  <input class="form-control" [(ngModel)]="newBook.price">

  <label class="mt-2">Description: </label>
  <input class="form-control" [(ngModel)]="newBook.description">

  <label class="mt-2">Author: </label>
  <select *ngIf="!(error$ | async)"
          class="form-control"
          [(ngModel)]="newBook.authorId"
  >
    <option *ngFor="let author of authors | async" [ngValue]="author.id">
      {{ author.name }} {{ author.surname }}
    </option>
  </select>

</div>
<button class="btn btn-info w-100" (click)="addBook()">Add Book</button>
