<div class="row min-vh-100 pt-3 pb-3">
  <div class="col-md-12" *ngIf="(searchState$ | async) as searchState">
    <error-alert *ngIf="searchState.error" [error]="searchState.error"></error-alert>
    <loading-spinner *ngIf="searchState.loading"></loading-spinner>

    <div class="row" *ngIf="(searchList$ | async) as searchList">

      <div class="col-4 col-md-4" *ngFor="let searchItem of searchList">
        <div *ngIf="searchState.searchKey === 'book'">
          {{ searchItem.name }} - {{ searchItem.description }} - {{ searchItem.price }}
        </div>

        <div *ngIf="searchState.searchKey === 'author'">
          {{ searchItem.name }} - {{ searchItem.surname }}
        </div>

      </div>


      <div class="col-12 col-md-12" *ngIf="!(searchState.searchResult)">
        <div class="text-center">
          <h3>The {{ searchState.searchKey }} ({{ searchState.searchText }}) you are looking for was not found.</h3>
        </div>
      </div>

    </div>

  </div>
</div>
