<div class="row">
  <div class="col-12 col-md-6 p-0">

    <div class="form-group mt-2 position-relative">
      <button class="btn btn-sm btn-secondary rounded-0 position-absolute"
              *ngIf="(observablePlaceHolder$ | async) as oldSearchText"
              (click)="callHistorySearch(oldSearchText)"
              routerLink="/search/{{searchMode}}/{{oldSearchText}}"
              >
        <i class="fas fa-history text-white"></i>
      </button>
      <input type="text" class="form-control form-control-sm float-left rounded-0"
             [class.search-input-pl]="(observablePlaceHolder$ | async)"
             id="searchBar"
             [placeholder]="(observablePlaceHolder$ | async) ? (observablePlaceHolder$ | async) : 'Book or Author name.'"
             name="searchBar"
             [(ngModel)]="searchText"
      />
    </div>

  </div>

  <div class="col-6 col-md-3 p-0">

    <div class="form-group mt-2">
      <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" *ngIf="observableSelectedButton$ | async as observableKey">
        <label class="btn btn-sm btn-secondary rounded-0">
          <input type="radio"
                 (click)="changeSearchOption('book')"
                 autocomplete="off"
                 [checked]="observableKey === 'book'"
          >Book
        </label>
        <label class="btn btn-sm btn-secondary rounded-0">
          <input type="radio"
                 (click)="changeSearchOption('author')"
                 autocomplete="off"
                 [checked]="observableKey === 'author'"
          >Author
        </label>
      </div>
    </div>

  </div>

  <div class="col-6 col-md-3 p-0">

    <div class="form-group mt-2">
      <button
        [routerLink]="searchText !== '' ? '/search/' + searchMode + '/' + searchText : null"
        (click)="search()"
        class="btn-sm btn-info w-100 rounded-0 border-bottom-0">
        <small class="text-muted">
          <i class="fas fa-search text-white"></i>
        </small>
        Search
      </button>
    </div>

  </div>
</div>
