<div class="container" *ngIf="(searchState$ | async) as searchState">

  <error-alert *ngIf="searchState.error" [error]="searchState.error"></error-alert>
  <loading-spinner *ngIf="searchState.loading"></loading-spinner>

  <div class="row mt-3" *ngIf="(searchList$ | async) as searchList">
    <div *ngFor="let searchItem of searchList" class="col-12 col-md-12">

      <div *ngIf="searchState.searchKey === 'book'">
        {{ searchItem.name }} - {{ searchItem.description }} - {{ searchItem.price }}
      </div>

      <div *ngIf="searchState.searchKey === 'author'">
        {{ searchItem.name }} - {{ searchItem.surname }}
      </div>
    </div>
  </div>

  <div class="row mt-3" *ngIf="!(searchState.searchResult)">
    <div class="col-12 col-md-12">

      <div class="text-center">
        <h3>The {{ searchState.searchKey }} ({{ searchState.searchText }}) you are looking for was not found.</h3>
      </div>

    </div>
  </div>

</div>
